---
const pageTitle = "About the author";

const identity = {
	firstName: "Theophilus",
	country: "Sardinia",
	occupation: "Professional searcher",
	hobbies: ["photography", "birdwatching", "baseball"],
};
const skills = ["HTML", "CSS", "JS", "Writing"];
const happy = true;
const finished = false;
const goal = 3;i

---

<html lang="en">
	<head>

		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport' content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<h1>About</h1>

<a href="/"> home</a>
<a href="/about">about</a>
<a href="/blog">blog</a>

  <h1>{pageTitle}</h1>
  <h2>... and my new Astro site!</h2>

  <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>

  <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
<p>Here are a few facts about me:</p>
<ul>
	<li> My name is {identity.firstName}.</li>
	<li> My nation state is {identity.country} and I work as a {identity.occupation}.</li>
{happy && <p> "I am happy to be doing this tutorial" </p>}
{finished && <p> "I finished this tutorial" </p>}
{goal === 3 ? <p> "My goal is to finish in 3 days"</p> : <p>"My goal is not 3 days."</p>}
	</body>
</html>
